<div class="icon-container icon-{{type}} {{cssClasses}}">
  {{#if (test icon "in" ".svg")}}
    <div class="chat-icon" style="mask: url({{icon}}) no-repeat center; -webkit-mask: url({{icon}}) no-repeat center;"></div>
    <svg class="non-chat-icon svg-container" title="{{name}}">
      <use href="{{icon}}#icon"></use>
    </svg>
  {{else}}
    <img src="{{icon}}" />
  {{/if}}
</div>